@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Noto Sans TC', sans-serif;
  background-color: #FFFBF0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Noto Serif TC', serif;
}
